<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/login">Login/Signup</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">Create Item</li>
    </ol>
</nav>
<div class="container fluid">
    <div class="w-100 row justify-content-center">
        <div class="col-md-12">
            <h4 style="text-align: center;">Create Item</h4><br>
            <form>                
                <div class="form-group">
                    <label for="inputCode">Code*</label>
                    <input [(ngModel)]="itemBasic.code" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputCode" placeholder="Item Code">
                    <small class="form-text text-muted">Must provide a item code.</small>
                </div>
                <div class="form-group">
                    <label for="inputDescription">Description*</label>
                    <input [(ngModel)]="itemBasic.description" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="inputDescription" placeholder="Item Description">
                    <small class="form-text text-muted">Must provide a description.</small>
                </div>
                <div class="form-group">
                    <label for="inputPrice">Price</label>
                    <input [(ngModel)]="itemBasic.price" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="inputPrice" placeholder="Item Price">                
                </div>
                <div class="form-group">
                    <label for="SelectSupplier">Supplier</label>
                    <select [(ngModel)]="itemBasic.supplier_id" [ngModelOptions]="{standalone: true}" class="form-control" id="SelectSupplier">
                    <option value = null>No Supplier</option>
                    <option>2</option>
                    </select>
                    <small class="form-text text-muted">You can select "No Supplier"</small>
                </div>             
                <div class="form-group">
                    <label for="inputImg">Image URL</label>
                    <input [(ngModel)]="itemBasic.image_url" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputImg" placeholder="Item Image URL">
                </div>
            </form>
            <div style="text-align: center;">
                <button type="button" class="btn btn-primary" (click)="addItem()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>