<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/login">Login/Signup</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<div class="container-fluid">  
  <div class="container-fluid" style="text-align: center;">
    <button type="button" class="btn btn-primary" routerLink="/itemAdd">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      Create Item
  </button>
  <br><br>
  </div>
    <div class="row w-100 h-100">
        <div class="card-deck h-100 w-100 justify-content-center">
          <div *ngFor = "let item of itemData">
            <div class="card-container" style="width: 24rem;border:1px solid black;" routerLink="/itemDetail/{{item.item_id}}">
              <img height="200" [src]="item.item_img_url" class="card-img-top" alt="item-image">
              <div class="card-body">
                <h5 class="card-title">Code: {{item.item_code}}</h5>
                <p class="card-text"></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Description: {{item.item_description}}</li>
                <li *ngIf="item.item_price != 'null'" class="list-group-item">Price: {{item.item_price}}</li>
                <li *ngIf="item.item_price == 'null'" class="list-group-item">Price: <strong>No Assigned Price</strong></li>
                <li *ngIf="item.state_id == 0" class="list-group-item">Status: <span style="color:green;">{{item.state_name}}</span></li>
                <li *ngIf="item.state_id == 1" class="list-group-item">Status: <span style="color:red;">{{item.state_name}}</span></li>                
              </ul>
              <p class="card-text"><small class="text-muted">Created by: {{item.user_name}} at {{item.item_creation_date}} </small></p>
          </div>
          </div>
        </div>
    </div>
</div>